.themed {
    display: block;
    width: 10em;
    height: 10em;
    background: black;
    color: white;
  }
  
  @media (prefers-color-scheme: light) {
    .themed {
      background: whitesmoke;
      color: black;
    }
  }