.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /*일부로 간격 임의설정*/
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 20px;
}

@keyframes rotateGear {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }

}


.screen-header__icons .fa-gear:hover   {
    /* only header icon magbifying-glass adapt */
    animation: rotateGear 1s ease-in-out infinite;
}


